
<div class="my-5">
    <h2 class="text-center font-bold my-5 text-xl">Update Employee</h2>
    <div class="flex justify-center">

        <div class="bg-slate-800 flex justify-center rounded-lg p-12">
            <form (ngSubmit)="onSubmit()">
                <label  class="text-white">Full Name</label>
                <input type="text" class="block rounded border-gray-300 w-96 mb-3" id="name" [(ngModel)]="employee.name" name="name" />
                <label class="text-white">Designation</label>
                <input type="text" class="block w-96  mb-3" id="designation" [(ngModel)]="employee.designation" name="designation"/>
                <label class="text-white">Email</label>
                <input type="email" class="block w-96  mb-3" id="email" [(ngModel)]="employee.emailId" name="email"/>
                <label class="text-white">Phone</label>
                <input type="text" class="block w-96  mb-3" id="phone" [(ngModel)]="employee.phoneNumber" name="phone"/>
                <label class="text-white">Gender</label>
                <input type="text" class="block w-96  mb-3" id="gender" [(ngModel)]="employee.gender" name="gender"/>
                <label class="text-white">Address</label>
                <input type="text" class="block w-96  mb-3" id="address" [(ngModel)]="employee.address" name="address"/>
            
                <button class="bg-emerald-500 w-96 h-12 my-2" type="submit">Submit</button>
            </form>
        </div>

        
    </div>
</div>
